@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 240 10% 4%;
    --card: 240 10% 97%;
    --card-foreground: 240 10% 4%;
    --popover: 240 10% 97%;
    --popover-foreground: 240 10% 4%;
    --primary: 265 89% 78%;
    --primary-foreground: 240 10% 4%;
    --secondary: 250 20% 92%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 330 67% 71%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 265 89% 78%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 9% 12%; /* Base */
    --foreground: 240 9% 81%; /* Text */
    --card: 240 9% 15%; /* Mantle */
    --card-foreground: 240 9% 81%; /* Text */
    --popover: 240 9% 15%; /* Mantle */
    --popover-foreground: 240 9% 81%; /* Text */
    --primary: 265 89% 78%; /* Mauve */
    --primary-foreground: 240 9% 12%; /* Base */
    --secondary: 240 7% 20%; /* Surface0 */
    --secondary-foreground: 240 9% 81%; /* Text */
    --muted: 240, 7%, 20%; /* Surface0 */
    --muted-foreground: 240 5% 65%; /* Subtext0 */
    --accent: 330 67% 71%; /* Red */
    --accent-foreground: 240 9% 12%; /* Base */
    --destructive: 330 67% 71%; /* Red */
    --destructive-foreground: 240 9% 12%; /* Base */
    --border: 240 5% 26%; /* Surface2 */
    --input: 240 5% 26%; /* Surface2 */
    --ring: 265 89% 78%; /* Mauve */
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
